@model IPagedList<Category>
@using X.PagedList
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Category List";
}
<div class="container">
    <div class="row mb-3">
        <div class="col-6">
            <h3>Category List</h3>

        </div>
        <div class="col-6 text-end">
            <a asp-controller="Categories" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Nuevo
            </a>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width:25%">Category Name</th>
                <th style="width:50%">Description</th>
                <th style="width:15%">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CategoryName

                        </td>
                        <td>
                            @Html.Raw(@item.Description)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-controller="Categories" asp-action="Edit" asp-route-id="@item.CategoryId">
                                <i class="bi bi-pencil-square"></i>&nbsp;
                                Edit
                            </a>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2" class="text-center">
                        F?uck!!! No categories added yet!

                    </td>
                </tr>

            }
        </tbody>
    </table>
    <div class="d-flex">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
           {
               UlElementClasses = new[] { "pagination" },
               LiElementClasses = new[] { "page-item" },
               PageClasses = new[] { "page-link" },
               DisplayLinkToIndividualPages = true,
               DisplayPageCountAndCurrentLocation = false,
               MaximumPageNumbersToDisplay = 10
           })
    </div>


</div>
