@model ShoppingCartDetailVm
<form method="post">

    <input type="hidden" asp-for="@Model.ProductId" />
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Product.ProductName</h3>
                    <p class="text-white-50 fw-semibold mb-0">Supplied by: <span class="text-uppercase text-white fw-bold">@Model.Product.Supplier</span> </p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row">
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a href="@(ViewBag.ReturnUrl??Url.Action("Index","Home",new{area="Customer"}))" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                            <small>Back to List</small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
                        <img src="@(string.IsNullOrEmpty(Model.Product.ImageUrl) ? "/images/SinImagenDisponible.jpg" : Model.Product.ImageUrl)"
                             class="d-block mx-auto img-fluid rounded shadow"
                             style="width:300px; height:400px; object-fit:contain;"
                             alt="@Model.Product.ProductName" />
                    </div>

                    <div class="col-12 col-lg-6 offset-lg-1">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <span class="badge bg-secondary text-white fw-bold text-uppercase fs-5">@Model.Product.Category</span>
                            </div>
                            @if (Model.Product.Suspended)
                            {
                                <div class="col-6 mb-3">
                                    <span class="badge bg-danger text-white fw-bold fs-5 ">Suspended</span>
                                </div>
                            }
                            else
                            {
                                <div class="col-6 mb-3">
                                    <span class="badge bg-primary text-white fw-bold fs-5">Available</span>
                                </div>

                            }

                        </div>

                        <div class="row">
                            <h6 class="text-dark text-opacity-50 pb-2 ps-2">
                                List Price:
                                <span class="text-decoration-line-through">
                                    $@Model.Product.ListPrice.ToString("N2")
                                </span>
                            </h6>
                        </div>

                        <!-- Quantity and more -->
                        <div class="row text-center mb-2">
                            <div class="col-4 col-lg-2">
                                <div class="bg-light py-2 border-bottom fw-semibold">Quantity</div>
                            </div>
                            <div class="col-4 col-lg-2">
                                <div class="bg-light py-2 border-bottom fw-semibold">1</div>
                            </div>
                            <div class="col-4 col-lg-2">
                                <div class="bg-light py-2 border-bottom fw-semibold">More</div>
                            </div>
                        </div>

                        <!-- Prices -->
                        <div class="row text-center mb-2">
                            <div class="col-4 col-lg-2">
                                <div class="bg-light py-2 text-warning fw-bold">Prices</div>
                            </div>
                            <div class="col-4 col-lg-2">
                                <div class="bg-light py-2 text-warning fw-bold">$@Model.Product.ListPrice.ToString("N2")</div>
                            </div>
                            <div class="col-4 col-lg-2">
                                <div class="bg-light py-2 text-warning fw-bold">$@Model.Product.CashPrice.ToString("N2")</div>
                            </div>
                        </div>

                        @if (!Model.Product.Suspended)
                        {
                            if (Model.Product.AvailableStock > 0)
                            {
                                <!-- Count Input -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <span class="border-0 fw-semibold">Stock</span>
                                            <input disabled class="form-control text-end" asp-for="@Model.Product.AvailableStock" />
                                        </div>
                                    </div>
                                </div>


                                <!-- Count Input -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-text bg-primary text-white border-0 fw-semibold">Count</span>
                                            <input asp-for="@Model.Quantity" type="number" value="1" class="form-control text-end" min="1" max="@Model.Product.AvailableStock" aria-label="Quantity" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Add to Cart Button -->
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <button type="submit" class="btn btn-primary bg-gradient w-100 py-2 text-uppercase fw-semibold">
                                            Add to Cart
                                        </button>
                                    </div>
                                </div>


                            }
                            else
                            {
                                <div class="col-md-4 mb-3">
                                    <span class="badge bg-danger text-white fw-bold fs-5 ">Out Of Stock</span>
                                </div>

                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
