@model IPagedList<SupplierListVm>
@using X.PagedList
@using X.Web.PagedList
@{
    ViewData["Title"] = "Suppliers List";
}
<div class="container">
    @Html.AntiForgeryToken()
    <div class="row mb-3">
        <div class="col-6">
            <h3>Suppliers List</h3>

        </div>
        <div class="col-6 text-end">
            <a asp-controller="Suppliers" asp-action="UpSert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Nuevo
            </a>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width:25%">Supplier</th>
                <th style="width:15%">City</th>
                <th style="width:15%">State</th>
                <th style="width:15%">Country</th>
                <th style="width:30%">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr id="@item.SupplierId">
                        <td>
                            @item.SupplierName

                        </td>
                        <td>
                            @item.City
                        </td>
                        <td>
                            @item.State
                        </td>
                        <td>
                            @item.Country
                        </td>

                        <td>
                            <a class="btn btn-warning" asp-controller="Suppliers" asp-action="UpSert" asp-route-id="@item.SupplierId">
                                <i class="bi bi-pencil-square"></i>&nbsp;
                                Edit
                            </a>
                            <a onclick="Delete('/Suppliers/Delete/@item.SupplierId',@item.SupplierId,'@item.SupplierName.Replace("'"," \\'")')" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i>
                                Delete
                            </a>
                            <a class="btn btn-info" asp-controller="Suppliers" asp-action="Details" asp-route-id="@item.SupplierId">
                                <i class="bi bi-card-list"></i>
                                Details

                            </a>

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">
                        F?uck!!! No Suppliers have been added yet!

                    </td>
                </tr>

            }
        </tbody>
    </table>
    <partial name="_Pager" model="@Model" />

</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/js/common.js"></script>
}