@model IPagedList<CategoryListVm>
@using X.PagedList
@using X.Web.PagedList
@{
    ViewData["Title"] = "Category List";
}
<div class="container">
    @Html.AntiForgeryToken()
    <div class="row mb-3">
        <div class="col-6">
            <h3>Category List</h3>

        </div>
        <div class="col-6 text-end">
            <a asp-controller="Categories" asp-action="UpSert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Nuevo
            </a>
        </div>
    </div>
    <form method="get" class="form-inline" asp-action="Index">
        <div class="d-flex flex-row align-items-center">
            <div class="col-auto mx-1">
                <label for="pageSize">Show:</label>
            </div>
            <div class="col-auto mx-2">
                <partial name="_SelectPaginas" model="@ViewBag.currentPageSize" />
            </div>
            <div class="col-auto mx-2" style="width: 200px;">
                <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="Search by..." value="@ViewBag.currentSearchTerm" />
            </div>
            <div class="col-auto d-flex">
                <button type="submit" class="btn btn-primary mx-2">
                    <i class="bi bi-search"></i> Search
                </button>
                <button type="submit" class="btn btn-secondary" id="viewAll" name="viewAll" value="true">
                    <i class="bi bi-list"></i> View All
                </button>
            </div>
        </div>
    </form>
    <table class="table table-bordered table-hover mt-3">
        <thead>
            <tr>
                <th style="width:20%">Category Name</th>
                <th style="width:40%">Description</th>
                <th style="width:10%">Prod.Qty</th>
                <th style="width:30%">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr id="@item.CategoryId">
                        <td>
                            @item.CategoryName

                        </td>
                        <td>
                            @Html.Raw(@item.Description)
                        </td>
                        <td style="text-align:right">
                            @item.ProductsQuantity
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-controller="Categories" asp-action="UpSert" asp-route-id="@item.CategoryId">
                                <i class="bi bi-pencil-square"></i>&nbsp;
                                Edit
                            </a>
                            <a onclick="Delete('/Admin/Categories/Delete/@item.CategoryId',@item.CategoryId,'@item.CategoryName')" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i>
                                Delete
                            </a>
                            <a class="btn btn-info" asp-controller="Categories" asp-action="Details" asp-route-id="@item.CategoryId">
                                <i class="bi bi-card-list"></i>&nbsp;
                                Details
                            </a>

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">
                        F?uck!!! No categories have been added yet!

                    </td>
                </tr>

            }
        </tbody>
    </table>
    <partial name="_Pager" model="@Model" />

</div>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/js/common.js"></script>
}